* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

word_box {
    width: 32%;
    border: 1px solid black;
    color: lightgray;
    margin-bottom: 0.5rem;
}

