* {
    font-family: Arial;
    background: lightgrey
}

.placeholder_img {
    overflow: hidden;
    width: 178px;
    height: 118px;
    background-image: url("/static/images/noimage.jpg")
}

.img {
    overflow: hidden;
    width: 178px;
    height: 118px;
    object-fit: contain;
}

title-bar {
    background: darkgrey;
    color: black;
    border: 5px solid black;
}

.box {
    border: solid black;
    border-width: 1px;
    color: black;
}

.box-word {
    border: solid black;
    border-width: 1px;
    color: black;
    word-wrap: normal;
}

.definition {
    width: 100%;
}

.tr, td, th {
    justify-content: normal;
    margin: auto;
    width: 15%;
    border: 1px solid black;
    padding: 0.5rem;
}

.thead, th {
    position: sticky;
    top: 0px;
}