* {
    font-family: Arial;
    background: lightgrey
}

title-bar {
    background: darkgrey;
    color: black;
    border: 5px solid black;
}

.box {
    border: solid black;
    border-width: 1px;
    color: black;
}

.box-word {
    border: solid black;
    border-width: 1px;
    color: black;
    word-wrap: normal;
}

box_image {
    height: 150px;
    overflow: hidden;
}

tr, td, th {
    justify-content: normal;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding: 0.5rem;
}