<!--This is a copy of the dictionary page and works similarly to that page but instead of showing all the data, it
filters it based on the data entered by the user into a dropdown menu. This dropdown menu sends data via a submit button
to the main render_template, where it then filters the data based on the selection and then sends back the corresponding
records where they are displayed. Just like in the dictionary page the user can access the details of a word by clicking
on the link associated with it.-->

{% extends 'base.html' %}

{% block pageheading %}Maori Dictionary - Filter by Category{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <label for="user_type">Choose a category to filter by:</label>
            <select class="form-control" name="category" id="category" required>
                {% for id in category %}
                <option value={{ id[0] }}>{{ id[1] }}</option>
                {% endfor %}
            </select>

            <div class="form-group">
                <div class="form-label"></div>
                <div class="form-element"><input type="submit" value="Submit Filter"></div>
            </div>
    </form>

    <div class="box">
            <table>
                <thead>
                    <tr class="box-word">
                        <th>Maori Name</th>
                        <th>English Name</th>
                        <th>Category</th>
                        <th class="definition">Definition</th>
                        <th>Level</th>
                    </tr>
                </thead>
                {% for word in dictionary_category %}
                    <tbody>
                        <tr class="box-word">
                            <td><a href="/word/{{ word[0] }}">{{ word[0] }}</a></td>
                            <td>{{ word[1] }}</td>
                            <td>{{ word[2] }}</td>
                            <td class="definition">{{ word[3] }}</td>
                            <td>{{ word[4] }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
    </div>
{% endblock %}