<!--This page is responsible for showing the details of a category which is redirected from the category catalogue page
alongside the ability to rename the word, which constitutes the only input in the page. It receives data from the
catalogue page and sends data via the text field and submit button which then renames the category via the render
template on the python file.-->

{% extends 'base.html' %}

{% block pageheading %}Category Info{% endblock %}

{% block main %}
    {% for id in category %}
    <div class="box">
        <h3>Category Number - {{ id[0] }}</h3>
        <h3>Category Name - {{ id[1] }}</h3>
        <h3>User Added - {{ id[2] }}</h3>
        <h3>Date Added - {{ id[3] }}</h3>
    </div>
    {% endfor %}
    <div class="box">
        <form class="myform" method="post">
            <div class="form-group">
                <div class="form-label">Rename Category:</div>
                <div class="form-element"><input type="text" name="category_rename" id="category_rename"required></div>
            </div>
            <div class="form-group">
                <div class="form-label"></div>
                <div class="form-element"><input type="submit" value="Submit"></div>
            </div>
        </form>
    </div>
    <a href="/category_catalogue"><h3>Return to category catalogue?</h3></a>
{% endblock %}