<!--This page works identically to the dictionary page, but instead of requesting all the words, it requests the
categories. It does not take any input from the user save for the links that take the user to each category's detail
page, and only receives output from the render_template and query.-->

{% extends 'base.html' %}

{% block pageheading %}Maori Dictionary{% endblock %}

{% block main %}

    <div class="box">
        {% for category in categories %}
            <table>
                <thead>
                    <tr class="box-word">
                        <th>Category Number</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="box-word">
                        <td><a href="/category/{{ category[0] }}">{{ category[0] }}</a></td>
                        <td>{{ category[1] }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}