{% extends 'template_page.html' %}

{% block pageheading %}Maori Dictionary{% endblock %}

{% block main %}

    <div class="content">
        {% for word in dictionary %}
        <div class="box">
            <table class="box">
                <div class="box_heading">
                    <h3><strong>Maori - </strong> {{ word[0] }} </h3>
                    <h3><strong>English - </strong> {{ word[1] }} </h3>
                </div>
                <div class="box_image">
                    <img src="/static/images/{{ word[6] }}.jpg">
                </div>
                <div>
                    <p><strong>Category - </strong> {{ word[2] }} </p>
                    <p><strong>Definition - </strong> {{ word[3] }}</p>
                    <p><strong>Level - </strong> {{ word[4] }}</p>
                    <p><strong>User Added - </strong> {{ word[5] }}</p>
                </div>
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}