<!--This page is responsible for displaying every entry from the 'dictionary' table in the main database. It receives
data from the database, and posts it via the render_template function in the python code, using base.html as a base.
There are no inputs from the user, and as such there are no possibility for the incorrect displaying of data due to
user error.-->

{% extends 'base.html' %}

{% block pageheading %}Maori Dictionary{% endblock %}

{% block main %}

    <div class="box">
            <table>
                <thead>
                    <tr class="box-word">
                        <th>Maori Name</th>
                        <th>English Name</th>
                        <th>Category</th>
                        <th class="definition">Definition</th>
                        <th>Level</th>
                    </tr>
                </thead>
                {% for word in dictionary %}
                    <tbody>
                        <tr class="box-word">
                            <td><a href="/word/{{ word[0] }}">{{ word[0] }}</a></td>
                            <td>{{ word[1] }}</td>
                            <td>{{ word[2] }}</td>
                            <td class="definition">{{ word[3] }}</td>
                            <td>{{ word[4] }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
    </div>
{% endblock %}