<!--This page contains the user's login function, where the user is presented with two fields where they must enter
their email and password. The same validation is present as on the signup page, where the email must contain the
prerequisite characters and parts to constitute an email address. It receives inputs from the user using the text
fields and then the submit button that posts the data to the corresponding render_template where it is processed.
There is also a signup link for if the user has not yet created an account.-->

{% extends 'base.html' %}

{% block pageheading %}Login{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label">Email:</div>
            <div class="form-element"><input type="text" name="email" id="email"required></div>
        </div>

        <div class="form-group">
            <div class="form-label">Password:</div>
            <div class="form-element"><input type="password" name="password" id="password"required></div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"><input type="submit" value="Login"></div>
        </div>
    </form>
    <p><br><br><br>If you don't have an account, please <a href="/signup">sign up</a>.</p>
{% endblock %}