<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Maori Dictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<nav>
    <div>
        <div>The Maori Dictionary</div>
        <div>
            <a href="/">Home</a>
            <a href="/signup">Signup</a>
            {% if logged_in %}
            <a href="/logout">Logout</a>
            <a href="/search">Search</a>
            <a href="/dictionary">Dictionary</a>
                {% if is_admin %}
                <a href="/dictionary_admin">Admin</a>
                {% endif %}
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div>
    <header>
        <h1></h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html>