{% extends 'base.html' %}

{% block pageheading %}Word Info{% endblock %}

{% block main %}
    {% for id in word %}
    <div class="box">
        <h3>Maori - {{ id[1] }}</h3>
        <h3>English - {{ id[2] }}</h3>
        <h3>Category (Subject) - {{ id[3] }}</h3>
        <h3>Definition - {{ id[4] }}</h3>
        <h3>Subject - {{ id[5] }}</h3>
    </div>
    {% endfor %}
    <a href="/dictionary"><h3>Return to dictionary?</h3></a>
    {% if is_admin %}
    <a href="/delete/<word>"><h3>Delete word?</h3></a>
    {% endif %}
{% endblock %}